@font-face {
    font-family: 'Roboto';
    src: local('Roboto Thin'), local('Roboto-Thin'), url('../fonts/roboto/Robotothin.woff2') format('woff2'), url('../fonts/roboto/Robotothin.woff') format('woff'), url('../fonts/roboto/Robotothin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'), url('../fonts/roboto/Robotothinitalic.woff2') format('woff2'), url('../fonts/roboto/Robotothinitalic.woff') format('woff'), url('../fonts/roboto/Robotothinitalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Light'), local('Roboto-Light'), url('../fonts/roboto/Robotolight.woff2') format('woff2'), url('../fonts/roboto/Robotolight.woff') format('woff'), url('../fonts/roboto/Robotolight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url('../fonts/roboto/Robotolightitalic.woff2') format('woff2'), url('../fonts/roboto/Robotolightitalic.woff') format('woff'), url('../fonts/roboto/Robotolightitalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), local('Roboto-Regular'), url('../fonts/roboto/Roboto.woff2') format('woff2'), url('../fonts/roboto/Roboto.woff') format('woff'), url('../fonts/roboto/Roboto.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Italic'), local('Roboto-Italic'), url('../fonts/roboto/Robotoitalic.woff2') format('woff2'), url('../fonts/roboto/Robotoitalic.woff') format('woff'), url('../fonts/roboto/Robotoitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Medium'), local('Roboto-Medium'), url('../fonts/roboto/Robotomedium.woff2') format('woff2'), url('../fonts/roboto/Robotomedium.woff') format('woff'), url('../fonts/roboto/Robotomedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url('../fonts/roboto/Robotomediumitalic.woff2') format('woff2'), url('../fonts/roboto/Robotomediumitalic.woff') format('woff'), url('../fonts/roboto/Robotomediumitalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold'), local('Roboto-Bold'), url('../fonts/roboto/Robotobold.woff2') format('woff2'), url('../fonts/roboto/Robotobold.woff') format('woff'), url('../fonts/roboto/Robotobold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url('../fonts/roboto/Robotobolditalic.woff2') format('woff2'), url('../fonts/roboto/Robotobolditalic.woff') format('woff'), url('../fonts/roboto/Robotobolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Black'), local('Roboto-Black'), url('../fonts/roboto/Robotoblack.woff2') format('woff2'), url('../fonts/roboto/Robotoblack.woff') format('woff'), url('../fonts/roboto/Robotoblack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Black Italic'), local('Roboto-BlackItalic'), url('../fonts/roboto/Robotoblackitalic.woff2') format('woff2'), url('../fonts/roboto/Robotoblackitalic.woff') format('woff'), url('../fonts/roboto/Robotoblackitalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

*{
    font-size: 14px;
    font-family: 'Roboto';
}

body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

q, blockquote {
    quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none;
}

a img {
    border: none;
}
* a{
    font-size: 16px;
    text-decoration: none;
    color: #337ab7;
    cursor: pointer;
}
* a:hover{
    text-decoration: none;
    transition: .3s;
}
* a, h1, h2, h3, h4, h5, h6, p, span{
    font-family: 'Roboto';
    font-size: 14px;
}
* button, button:focus, a , a:focus{
    outline: none;
}
* h2{
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 24px;
    letter-spacing: 0.05em;
    color: #1A1A1A;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block;
}


/*-------------------------header--------------------*/

.header{
    background: linear-gradient(45deg, rgba(0,116,188,1) 0%, rgba(53,98,182,1) 100%);
    padding: 5px;
    width: 100%;
    z-index: 100000;
    -webkit-box-shadow: -1px 10px 13px -7px rgba(40,75,155,1);
    -moz-box-shadow: -1px 10px 13px -7px rgba(40,75,155,1);
    box-shadow: -1px 10px 13px -7px rgba(40,75,155,1);
}
.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container{
    max-width: 1800px;
    width: 100%;
    margin: 0 auto;
}
.header__logo a img{
    max-width: 190px;
    max-height: 45px;
}
.header__buttons__item__schedule {
    width: 28px;
    height: 40px;
    background: url("../../img/schedule.png");
    margin-right: 28px;
}
.header__buttons {
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.header__buttons__item__top {
    width: 38px;
    height: 40px;
    background: url("../../img/top.png");
}
#search .input-lg {
    height: 30px;
    line-height: 20px;
    min-width: 200px;
    max-width: 416px;
    width: 100%;
    border-radius: 30px !important;
    border: 0px Solid;
    background: #018ad8;
    color: #fff;
    padding-left: 40px;
    outline: none;
    padding-right: 40px;
    text-align: right;
}
#search .input-lg::placeholder{
    color: #ffffff;
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
}
.searchicon {
    background: url("../../img/search-icon.png") no-repeat center;
    background-size: 19px;
    border: none;
    color: #fff;
    padding: 5px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}
#search {
    margin-bottom: 5px;
    margin-top: 5px;
    min-width: 30%;
}
.topsearchblock {
    position: relative;
    display: table;
    border-collapse: separate;
    max-width: 416px;
}
.input-searchicon {
    position: absolute;
    left: 10px;
    z-index: 10;
    top: 2px;
}
.wrapper-header-left-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    width: 100%;
    margin-right: 40px;
}
.langmenu.show {
    background-color: #3562b6;
    border: 0;
    border-radius: .25rem;
    min-width: 74px;
    width: 100%;
    box-shadow: none;
    border: 1px solid rgba(0,0,0,.15);
}
.langmenu .btn {
    width: 100%;
    background-color: transparent;
    max-width: 74px;
    border: none;
    border-radius: 0;
}
.langmenu .btn:hover{
    background-color: #ffffff;
    color: #000000;
    transition: .3s;
}
.language-select{
    color: #ffffff;
}
.langbtn{
    background: transparent;
    border: none;
}
.langbtn:hover,
.langbtn:focus,
.show>.btn-primary.langbtn,
.burger-menu:hover,
.burger-menu:focus,
.show>.btn-secondary.burger-menu,
.bell:hover,
.show>.btn-secondary.user-toggle,
.user-toggle:hover{
    transition: .3s;
    box-shadow: none;
    background-color: #33518d;
}
.show>.btn-secondary.burger-menu:focus,
.show>.btn-primary.langbtn:focus,
.show>.btn-secondary.user-toggle:focus{
    box-shadow: none;
    outline: none;
}
.burger-menu::after{
    display: none;
}
.burger-menu i{
    font-size: 25px;
}

.drop-down-burger,
.logout-user .dropdown-menu{
    background-color: #3562b6;
}
.drop-down-burger button,
.logout-user button{
    color: #ffffff;
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 300;
    cursor: pointer;
}
.logout-block{
    display: flex;
    align-items: center;
    margin-right: 30px;
}
.burger-menu-wrapper{
    margin-left: 30px;
}
.drop-down-burger.show,
.logout-user .dropdown-menu.show{
    right: 0;
    left: unset !important;
    transform: translate3d(0px, 38px, 0px) !important;
}
.burger-menu,
.user-toggle{
    background: transparent;
    border: none;
}
.lang{
    display: flex;
    align-items: center;
}
.bell-container{
    position: relative;
}
.bell{
    border: none;
    background-color: transparent;
    background-image: url("../../img/bell.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
    width: 36px;
    height: 36px;
    border-radius: .25rem;
    cursor: pointer;
    margin-left: 30px;
}
.user-toggle{
    border: none;
    background-color: transparent;
    background-image: url("../../img/user-icon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
    width: 36px;
    height: 36px;
    border-radius: .25rem;
    cursor: pointer;
    margin-left: 30px;
    position: relative !important;
    padding-right: 60px;
    padding-left: 10px;
}
.logout-user{

}
.user-toggle:after{
    border: none;
}
.user-toggle i{
    font-size: 13px;
    color: #e4e4e6;
    position: absolute;
    right: 10px;
    top: 10px;
}
.round-blue{
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: #00c9f6;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 7px;
}
.round-blue span{
    font-size: 12px;
    color: #ffffff;
}

/*--------------------content------------------*/

.content-section{
    padding: 58px 0 70px;
    background-repeat: no-repeat;
    background-size: cover !important;
}
.top-section{
 background-image: url("../../img/bg-top.jpg");
}
.homeslidertittle{
    color: #ffffff;
    font-family: 'Roboto';
    font-weight: normal;
    font-size: 28px;
    text-decoration: underline;
    line-height: 37px;
    margin-bottom: 10px;

}
.fillter-btn{
    background-color: #0079c3; 
    border: 1px solid #0079c3;
    border-radius: 10px;
    padding: 10px 0;
    width: 177px;
    cursor: pointer;
    position: relative;
}
.fillter-btn:hover{
    transition: .3s;
    background-color: #33518d;
    border: 1px solid #33518d;
}
.fillter-btn span{
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    padding-left: 32px;
}
.fillter-btn:before{
    content: '';
    position: absolute;
    left: 9px;
    background: url("../../img/fillter-icon.png") no-repeat center;
    width: 21px;
    height: 21px;
}
.header-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.poster-main{
    position: relative;
}
.poster-item{
    max-width: 947px;
    width: 100%;
    border-radius: 5px;
    position: relative;
}
.poster-item a{
     padding-bottom: 90px;
     position: relative;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.poster-item a img{
    border-radius: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.poster-main .poster-list .poster-item{
    position: absolute;
    left: 0;
    top: 0;
}
.poster-main .poster-btn{
    position: absolute;
    top: 0;
    cursor: pointer;
    width: 50px !important;
}
.poster-main .poster-prev-btn{
    left: 0;
    background: url("../../img/btn_l.png") no-repeat center center;
}
.poster-main .poster-next-btn{
    right: 0;
    background: url("../../img/btn_r.png") no-repeat center center;
}
.carousel-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.big-video-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 60px);
}
.poster-width{
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 84px;
}
.poster-list{
    position: relative;
    top: 0;
}
.slbottomblock{
    background-color: #0072b8;
    position: absolute;
    left: 0;
    right: 2px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 20px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container-avatar{
    width: 48px;
    height: 48px;
    border-radius: 100% !important;
    margin-right: 15px;
}
.avatar-cvadrat{
    max-width: 48px;
    border-radius: 48px !important;
}
.name-avatar{
    font-size: 18px;
    color: #2f3e56;
    font-weight: normal;
    margin-bottom: 12px;
}
.followers-span,
.number-whatch-followers,
.number-like-followers,
.number-comments-followers,
.add-span{
    color: #ffffff;
    font-size: 14px;
    font-weight: normal;
}
.number-whatch-followers,
.number-like-followers,
.number-comments-followers{
    position: relative;
    padding-left: 22px;
}
.number-whatch-followers:before{
    content: '';
    position: absolute;
    left: 0;
    background: url("../../img/play.png") no-repeat;
    width: 10px;
    height: 14px;
    background-size: contain;
    top: 0;
}
.number-like-followers:before{
    content: '';
    position: absolute;
    left: 0;
    background: url("../../img/like.png") no-repeat;
    width: 17px;
    height: 14px;
    background-size: contain;
    top: 0;
}
.number-comments-followers:before{
    content: '';
    position: absolute;
    left: 0;
    background: url("../../img/comments.png") no-repeat;
    width: 15px;
    height: 15px;
    background-size: contain;
    top: 0;
}
.title-avatar{
    max-width: 165px;
}
.wrapper-vlock-slider-info{
    display: flex;
    align-items: center;
}
.bottom-follow-info{
    display: flex;
    align-items: center;
    margin-top: 12px;
}
.follow-item{
    margin-right: 25px;
}
.follow-item:last-child{
    margin-right: 0;
}
.add-new-follow{
    border: none;
    background: transparent;
    cursor: pointer;
    width: 34px;
    height: 34px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: 1px solid #ffffff;
}
.add-new-follow i{
    color: #ffffff;
}
.container-btn-follow-add{
    border: 1px solid #ffffff;
    border-radius: 10px;
    width: 110px;
    display: flex;
    align-items: center;
}
.add-span{
    padding-left: 10px;
}
.white-section{
    background: url("../../img/white-bg.jpg") no-repeat;
}
.form-group{
    margin-bottom: 15px;
}
.form-horizontal .form-group {
    margin-right: -15px;
    margin-left: -15px;
}
.centerform {
   display: flex;
   align-items: center;
}
select.form-control, textarea.form-control, input.form-control[type="text"], input.form-control[type="password"], input.form-control[type="datetime"], input.form-control[type="datetime-local"], input.form-control[type="date"], input.form-control[type="month"], input.form-control[type="time"], input.form-control[type="week"], input.form-control[type="number"], input.form-control[type="email"], input.form-control[type="url"], input.form-control[type="search"], input.form-control[type="tel"], input.form-control[type="color"] {
    font-size: 18px;
    border-color: transparent;
    background: #0478bf;
    color: #fff;
    font-weight: normal;
    border-radius: 10px;
    text-transform: uppercase;
}
#input-showsearch .input-lg {
    height: 30px;
    line-height: 20px;
    min-width: 200px;
    max-width: 416px !important;
    width: 100%;
    border-radius: 30px !important;
    border: 0px Solid;
        border-top-color: currentcolor;
        border-right-color: currentcolor;
        border-bottom-color: currentcolor;
        border-left-color: currentcolor;
    background: #018ad8 !important;
    color: #fff;
    padding-left: 40px;
    outline: none;
    padding-right: 40px;
    text-align: right;
}
#input-showsearch .input-lg::placeholder{
     color: #ffffff;
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
}
.blue-title{
    color: #005fac;
}
.search-width{
    max-width: 416px;
    width: 100%;
}
.form-control option{
    background: #0478bf;
    color: #ffffff;
    font-size: 16px;
}
.form-control:focus{
    background: #0478bf;
    color: #ffffff;
}
.showssearch{
    max-width: 400px;
    max-height: 300px;
    width: 100%;
    border-radius: 10px;
    position: relative;
}
.container-img-card .film-item{
    max-width: 400px;
    border-radius: 10px;
}
.header-video{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: 13px 18px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.header-video:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: url("../../img/header-shadow.png") no-repeat;
    bottom: -149px;
    opacity: 0.8;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
} 
.title-video{
    font-size: 20px;
    color: #ffffff;
    font-weight: 600;
    z-index: 50;
}
.video-active{
    background: url("../../img/icon-camera-card.png") no-repeat;
    background-size: contain;
    width: 48px;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
}
.icon-video-span{
    background: url("../../img/video-icon.png") no-repeat center;
    width: 22px;
    height: 14px;
    background-size: contain;
    display: block;
    margin-left: 3px;
    z-index: 50;
}
.video-option{
    position: relative;
    color: #ffffff;
    opacity: 0.6;
}
.video-option:before{
    content: '';
    left: 0;
    top: 0;
    position: absolute;
    background-size: contain;
}
.comments-item{
    padding-left: 27px;
}
.whatch-item{
    padding-left: 34px;
}
.clock-item{
    padding-left: 29px;
}
.comments-item:before{
    background: url("../../img/comment-video.png");
    width: 20px;
    height: 17px;
}
.whatch-item:before{
     background: url("../../img/eye-icon.png");
    width: 24px;
    height: 13px;
}
.clock-item:before{
    background: url("../../img/clock-icon.png");
    width: 21px;
    height: 21px;
    top: -3px;
}
.svdata{
    position: absolute;
    left: 30px;
    right: 30px;
    bottom: 0;
    padding: 28px 0 20px;
    border-top: 1.38px solid rgba(255,255,255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-data-list{
    display: flex;
    align-items: center;
}
.item-video{
    margin-right: 20px;
}
.item-video:last-child{
    margin-right: 0;
}
.playicon{
    width: 98px;
    height: 98px;
    background: url("../../img/play-icon.png") no-repeat;
    background-size: contain;
    position: absolute;
    left: 0;
    right: 0;
    top: 25%;
    bottom: 0;
    margin: 0 auto;
    cursor: pointer;
}
.dsimg{
    width: 53px;
    height: 53px;
    border-radius: 5px;
}
.dsimg img{
    max-width: 53px;
    border-radius: 5px;
}
.wrapper-small-text{
    display: flex;
    flex-direction: column;
}
.sldescrripttext{
    font-size: 14px;
    color: #0060af;
    line-height: 18px;
}
.sldline{
    color: #0060af;
    font-size: 18px;
    font-weight: normal;
}
.dsblock{
    display: flex;
    align-items: center;
    margin-top: 13px;
    max-width: 400px;
}
.smdescription{
    margin-right: 10px;
}
.content-search{
    padding-bottom: 40px;
}
.showssearch-list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.container-showssearch{
    margin-right: 25px;
    margin-top: 38px;
}
.container-showssearch:last-child{
    margin-right: 0;
}
.blue-section{
    background: url("../../img/bg-blue.jpg") no-repeat;
}
.white-text{
    color: #ffffff;
}
.poster-item .playicon{
   top: -200%;
}
.padding-top-30{
    padding-top: 30px;
}
.video-container{
    position: relative;
    height: calc(100vh - 58px);
}
.big-video{
    max-width: 100%;
    width: 100%;
    height: 100%;
    max-height: calc(100vh - 60px);
}
.header-video-play{
    position: absolute;
    display: flex;
    align-self: center;
    justify-content: space-between;
    left: 0;
    right: 0;
    top: 0;
    padding: 20px;
}
.container-video-play{
    width: 90%;
    margin-top: 30px;
}
.border-color-user{
    width: 54px;
    height: 54px;
    border-radius: 100%;
    background: linear-gradient(to right, rgba(107,255,94,1) 0%, rgba(131,247,237,1) 52%, rgba(116,242,149,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}
.user-img{
    width: 44px;
    height: 44px;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.user-img img{
    max-width: 40px !important;
    width: 100%;
}
.user-title{
    color: #1c7ed1;
    font-size: 20px;
    font-weight: 600;
    max-width: 140px;
}
.user-avatar-container{
    display: flex;
    align-items: center;
}
.social-list{
    display: flex;
    align-items: center;
}
.social-item{
    margin-right: 10px;
}
.social-item:last-child{
    margin-right: 0;
}
.social-link{
    width: 46px;
    height: 46px;
    border-radius: 100%;
    border: 4px solid #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.social-link i{
    color: #ffffff;
    font-size: 20px;
    margin: 0 auto;
}
.social-link:hover{
    transition: .3s;
    opacity: 0.8;
}
.chat-container{
    min-width: 250px;
    width: 100%;
    background: rgba(53,53,53, 0.7);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.typing-text{
    font-size: 14px;
    color: #ffffff;
}
.header-chat{
    padding-left: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(28,126,209, 0.5);
}
.btn-chat-container button{
    width: 48px;
    height: 48px;
    background: rgba(1,33,97, 0.5);
    border-radius: 3px;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 18px;
}
.btn-chat-container button:hover{
    transition: .3s;
    background: rgba(38,54,80,0.5);
}
.body-chat{
    max-height: 150px;
    padding: 15px;
    overflow-y: auto;
}
.user-icon-container{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-bottom: 5px;
}
.user-icon-container img{
    max-width: 30px;
}
.type-typing{
    color: #ffffff;
    font-size: 11px;
}
.icon-typing-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.first-user{
    display: flex;
    align-self: flex-start;
}
.message-text{
    background: rgba(255,255,255, 0.7);
    max-width: 230px;
    padding: 10px;
    border-radius: 4px;
    position: relative;
    margin-left: 20px;
}
.message-text p{
    max-height: 150px;
}
.message-text:before{
    content: '';
    position: absolute;
    left: -15px; top: 10px;
    border: 8px solid transparent;
    border-right: 8px solid rgba(255,255,255, 0.7);
}
.user-message-container{
    margin-bottom: 15px;
}
.next-user{
    display: flex;
    align-self: flex-end;
    flex-direction: row-reverse;
}
.next-user .message-text{
    margin-right: 20px;
    transform: scale(-1,1);
    background: rgba(35,185, 241, 0.7);
}
.next-user .message-text p{
    transform: scale(-1,1);
}
.next-user .message-text:before{
    content: '';
    position: absolute;
    left: -15px;
    top: 10px;
    border: 8px solid transparent;
    border-right: 8px solid rgba(35,185, 241, 0.7);
}
.typing-input{
    border: none;
    background: transparent;
    padding: 20px;
    width: 100%;
    outline: none;
    color: #ffffff;
}
.block-typing-message{
    border-top: 1px solid rgba(28,126,209, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}
.video-block{
    max-width: 1070px;
    position: relative;
}
.video-block__img{
    background: url("../../img/bg-block.jpg") no-repeat;
    width: 100%;
    height: 202px;
}
.avatarplace{
    width: 160px;
    height: 160px;
    border-radius: 100%;
    border: 6px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20%;
    left: 5%;
}
.avatarplace img{
    max-width: 160px;
}
.postsicon {
    background: url("../../img/post-icon.png");
    height: 60px;
    width: 60px;
    border-radius: 100%;
}
.statisticicon {
    background: url("../../img/statistik-icon.png");
    height: 60px;
    width: 60px;
    border-radius: 100%;
}
.advertisers {
    background: url("../../img/advertisers-icon.png");
    height: 60px;
    width: 60px;
    border-radius: 100%;
}
.sendmesicon {
    background: url("../../img/messages-icon.png");
    height: 60px;
    width: 60px;
    border-radius: 100%;
}
.pagemenulia{
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    top: 50%;
    max-width: 380px;
}
.navigation__item{
    margin-right: 15px;
}
.navigation__item:last-child{
    margin-right: 0;
}
.menuusername{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.menuusername h2{
    font-size: 24px;
    color: #494c5d;
    font-weight: 600;
    margin-bottom: 10px;
}
.menuusername span{
    font-size: 16px;
    font-weight: normal;
    color: #494c5d;
    opacity: 0.8;
}
.pagemenu{
    background-color: #ffffff;
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.typing-btn{
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background-color: #666e7a;
    background-image: url("../../img/send.png");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
}
.typing-btn:hover{
    transition: .3s;
    opacity: 0.7;
}
.smille-btn{
    border: none;
    background: transparent;
    background-image: url("../../img/emocii.png");
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    opacity: 0.5;
    margin-right: 10px;
    cursor: pointer;
}
.btn-typing{
    display: flex;
    align-items: center;
}
.attach-btn{
    border: none;
    background: transparent;
    background-image: url("../../img/attach.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 25px;
    border-radius: 100%;
    opacity: 0.5;
    margin-right: 10px;
    cursor: pointer;
}
.card-aside{
    max-width: 334px;
    width: 100%;
}
.card-aside img{
    max-width: 334px;
}
#column-right .columnline {
    width: 98%;
}
#column-right{
    padding: 0;
}
.columnline .showssearch-list{
    justify-content: center;
}
.content-justify{
    display: flex;
    justify-content: space-between;
}
.card-aside .playicon{
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}
.dots-tab,
.more-info{
    background: url("../../img/three-dots.png") no-repeat;
    background-size: contain;
    width: 33px;
    height: 15px;
    border: none;
    cursor: pointer;
    display: block;
}
.list-option-tab{
    display: flex;
    align-items: center;
    margin-right: 30px;
}
.item-tab{
    margin-right: 10px;
}
.item-tab:last-child{
    margin-right: 0;
}
.link-tab{
    color: #cccede !important;
    font-size: 18px;
}
.podpis{
    color: #00b3fe;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.block-sidebar{
    padding: 30px;
}
.title-sidebar{
    color: #494c5d;
    font-size: 24px;
    font-weight: 600;
}
.header-sidebar,
.ftstr{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    border-bottom: 2px solid #f1f5fb;
}
.ftstr{
    padding-top: 0;
}
.sidebar{
    max-width: 350px;
    width: 100%;
    background-color: #fff;
    padding: 0;
}
.noleftpad{
    padding: 30px 0;
    background-color: #fff;
}
.follow-add{
    background-color: #2f63b3;
    width: 100%;
    font-size: 18px;
}
.bottom-content{
    margin-top: 40px;
    display: flex;
}
.center-profile-block{
    background-color: #fff;
    padding: 30px;
    margin-left: 30px;
    max-width: calc(100% - 35px);
    width: 100%;
}
.tab-content{
    width: 100%;
}
.user-icon-profile{
    width: 51px;
    height: 51px;
    border-radius: 100%;
}
.user-icon-profile img{
    max-width: 51px;
}
.wrapper-user-profile{
    display: flex;
    align-items: center;
}
.title-user-profile{
    margin-left: 10px;
}
.title-user-profile h3{
    font-size: 18px;
    color: #494c5d;
    font-weight: 600;
    margin-bottom: 5px;
}
.title-user-profile span{
    font-size: 14px;
    color: #d5d7e0;
}
.header-profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.info-text-profile{
    font-size: 16px;
}
.body-user-profile{
   padding: 30px 0 !important;
    line-height: 24px;
    border-bottom: 2px solid #f1f5fb;
}
.list-body-user{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item-body-user{
    margin-bottom: 10px;
}
.item-body-user:last-child{
    margin-bottom: 0;
}
.item-body-user a{
    width: 46px;
    height: 46px;
    border-radius: 100%;
    background-color: #23baf1;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
}
.like-user{
    background-image: url("../../img/heart.png");
}
.question-user{
    background-image: url("../../img/comments-tab.png");
}
.rechange{
     background-image: url("../../img/tab-icon.png");
}
.item-body-user a:hover{
    transition: .3s;
    opacity: 0.7;
}
.button-body-user{
    position: absolute;
    right: -23px;
    top: 30%;
}
.like-heart{
    background: url("../../img/like-user.png");
    width: 19px;
    height: 16px;
    border: none;
    cursor: pointer;
    margin-right: 5px;
}
.user-like-profile-block span{
    font-size: 16px;
    color: #686767;
}
.user-like-profile-block{
    display: flex;
    align-items: center;
}
.item-all-user a{
    width: 35px;
    height: 35px;
    border-radius: 100%;
    border: 3px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-like-user{
    max-width: 35px;
    border-radius: 100%;
}
.all-user-list{
    display: flex;
    align-items: center;
    position: relative;
    max-width: 125px;
    margin-left: 20px;
}
.item-all-user:nth-child(2n){
    position: relative;
    right: 15px;
}
.item-all-user:nth-child(2n+1){
    position: relative;
    right: 30px;
}
.item-all-user:nth-child(4){
    position: relative;
    right: 45px;
}
.item-all-user:last-child{
    position: relative;
    right: 60px;
}
.item-all-user:first-child{
    right: 0;
}
.container-users-list{
    display: flex;
    align-items: center;
}
.list-all-user-title-container{
    color: #686767;
    font-size: 16px;
    max-width: 120px;
}
.comment-like{
    font-weight: 600;
}
.container-list-all-user{
    display: flex;
    align-items: center;
}
.comments-span,
.rechange-span{
    color: #686767;
    font-size: 16px;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}
.comments-span{
    margin-right: 15px;
}
.rechange-span:before{
    content: '';
    position: absolute;
    left: 0;
    background-image: url("../../img/refactor.png");
    width: 25px;
    height: 23px;
    background-size: contain;
    cursor: pointer;
}
.comments-span:before{
    content: '';
    position: absolute;
    left: 0;
    background-image: url("../../img/comments-icon.png");
    width: 25px;
    height: 23px;
    background-size: contain;
    cursor: pointer;
}
.right-block-user-profile{
    display: flex;
    align-items: center;
}
.footer-user-profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}
.small-card-video .showssearch {
    max-width: 240px;
}
.small-card-video .container-img-card .film-item {
    max-width: 240px;
    border-radius: 10px;
}
.small-card-video  .dsblock {
    display: flex;
    align-items: center;
    margin-top: 13px;
    max-width: 240px;
}
.small-card-video:nth-child(2n){
    margin-right: 0;
}
.small-card-video .playicon {
    width: 70px;
    height: 70px;
    top: 28%;
}
.small-card-video .svdata{
    padding: 15px 0 17px;
}
.mbnopadding{
    max-width: 1070px;
}
.small-card-video .item-video {
    margin-right: 15px;
}
.small-card-video .video-active {
    background: url(../../img/icon-camera-card.png) no-repeat;
    background-size: contain;
    width: 40px;
    height: 37px;
}
.small-card-video .icon-video-span {
    background: url(../../img/video-icon.png) no-repeat center;
    width: 18px;
    height: 10px;
}
.small-card-video .header-video{
    padding: 10px 11px 0;
}

/*---------------scroll------------------*/


::-webkit-scrollbar {
    width: 1em;
    height: 1em;
}

::-webkit-scrollbar-thumb {
    background: #33518d;
}

::-webkit-scrollbar-track {
    background: rgba(1,33,97, 0.5);
}

